/* Início estilos gerais */

/* Importando fontes do Google Fonts (https://fonts.google.com) */
@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --bg-color: #ffffff;
  --bg-alpha: #010101aa;
  --primary-color: #14171C;
  --primary-alpha: #2C343F;
  --primary-hover: #556678;
  --secondary-color: #fff;
  --third-color: #060606;
  --fourth-color: #eede00;
  --fourth-color-alpha: #ff818180;
  --label-color: #00B021;
}

.body {
  background-image: url('/images/bg.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

::placeholder {
  font-family: "Poppins";
  color: var(--label-color);
}

.title {
  font-family: "Poppins";
  color: var(--secondary-color);
  text-align: center;
  margin-bottom: 1.5rem;
}

/* Início Form */
input {
  padding: 0.8rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 0.3rem;
}

.formPrimary {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inputPrimary {
  font-family: "Poppins";
  color: var(--fourth-color);
  width: 100%;
  border: none;
}

.inputPrimary:focus {
  outline: 0.15rem solid var(--primary-color);
}

.btnPrimary {
  font-family: "Poppins";
  background-color: var(--primary-color);
  color: var(--secondary-color);
  height: 3rem;
  width: 100%;
  border: none;
  cursor: pointer;
}

.btnPrimary:hover {
  background-color: var(--primary-hover);
}
/* Fim Form */

/* Fim estilos gerais */

/* RESPONSIVIDADE */

@media (max-width: 768px) {
.title {
  font-size: 0.8rem;
}
}